* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Rubik, sans-serif;
}

body {

    background-color: antiquewhite;


header {

    height: 122px;
    display: flex;
    padding-inline: 72px;
    align-items: center;
    gap: 46px;
    margin-bottom: 10px;

     ul {
        display: flex;
        list-style: none;
        gap: 46px;

        a {
            text-decoration: none;
            font-size: 22px;
            color: #000000;
        }

        .ativa {
            color: #770041;
            font-weight: bold;
        }
    }
}

}


main {

    width: fit-content;
    margin-inline: auto;


div {
    max-width: 736px;
    margin-inline: auto;
    margin-block: 54px;
    padding: 10px;
    border-radius: 24px;

        h1 {
        font-size: 35px;
        line-height: 125%;
        color: #000000;
        margin-bottom: 38px;
        margin-left: 200px;
    }

    a {
        border: 2px solid #000000;
        display: block;
        width: fit-content;
        margin-left: 265px;
        margin-bottom: 20px;
        padding: 12px 32px;
        border-radius: 5px;
        font-size: 14px;
        line-height: 24px;
        color: #490034;
        text-transform: uppercase;
        font-weight: 700;
        text-decoration: none;
    }

    h2{
        margin-left: 220px;
        margin-bottom: 20px;
    }

}

img {
    width: 175px;
    border-radius: 12px;
    margin-bottom: 40px;
    margin-left: 240px;
}

.img2 {
    max-height: 100%;
    height: auto;
}


li {
    text-decoration: none;

  }
 
 }
