* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Rubik, sans-serif;
}

body {

    background-color: antiquewhite;


header {

    height: 122px;
    display: flex;
    padding-inline: 72px;
    align-items: center;
    gap: 46px;
    margin-bottom: 60px;

     ul {
        display: flex;
        list-style: none;
        gap: 46px;

        a {
            text-decoration: none;
            font-size: 22px;
            color: #000000;
        }

        .ativa {
            color: #770041;
            font-weight: bold;
        }
    }
}

}


main {

    width: fit-content;
    margin-inline: auto;


div {
    max-width: 736px;
    margin-inline: auto;
    margin-block: 54px;
    padding: 10px;
    border-radius: 24px;

    h2 {
        line-height: 125%;
        margin-bottom: 70px;
        font-size: 35px;
    }

    h1 {
    font-size: 30px;
    line-height: 125%;
    color: #000000;
    margin-bottom: 24px;
    }

    p{
        max-width: 648px;
        font-size: 30px;
        line-height: 125%;
        margin-bottom: 20px;
    }

    ol{
        list-style-type: none;
    }

    li{
        max-width: 648px;
        font-size: 20px;
        line-height: 125%;
        text-decoration: none;
    }

    .terry {
        margin-right: 200px;
        margin-top: 20px;
        width: 130px;
        margin-left: 140px;
    }

    .marcus{
        margin-right: 100px;
        margin-top: 20px;
        width: 150px;
        margin-left: 140px;
    }

    .kevin{
        margin-right: 200px;
        margin-top: 20px;
        width: 180px;
        margin-left: 140px;
    }

    a {
        border: 2px solid #000000;
        display: block;
        width: fit-content;
        margin-inline: auto;
        padding: 12px 32px;
        border-radius: 5px;
        font-size: 14px;
        line-height: 24px;
        color: #490034;
        text-transform: uppercase;
        font-weight: 700;
        text-decoration: none;
    }
}

img {
    width: 175px;
    border-radius: 12px;
    margin-bottom: 40px;
}
 
 }
